@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.google-font {
    font-family: 'Carter One', cursive;
}

.list-styles {
    list-style: none;
}

.avater-img {

    width: 30px;
    border: 1px dashed black;
}

hr {
    border: 1px solid black;
}

.author-img {
    width: 50px;
}