@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.google-font {
    font-family: 'Carter One', cursive;
}

.list-styles {
    list-style: none;
}

.avater-img {

    width: 30px;
    border: 1px dashed black;
}

hr {
    border: 1px solid black;
}

.author-img {
    width: 50px;
}

.blog-btn {
    background-color: #4158CA;
}

.news-btn {
    background-color: #4158CA;

}

.my-logo {
    background-color: #4158CA;
}

.btn-bg {
    background-color: #5D5FEF;
}

.categories-hovers {
    color: #5D5FEF;
}

.categories-hovers:hover {
    color: #4158CA;
}

@media screen and (max-width: 767px) {
    .card-img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;

    }
}